[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document
Patterns=*.docx;*.DOCX
Icon=wordprocessing
Comment=Open XML Word Processing Document
[Property::X-KDE-NativeExtension]
Type=QString
Value=.docx
